    html,
    body {
        margin: 0;
        padding: 0px;
    }
    
    .intro {
        /* background-image: linear-gradient(to bottom, black, rgb(44, 35, 35)); */
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 100%;
    }
    
    .nav {
        height: 15%;
        background-image: linear-gradient(to top, black, rgb(44, 35, 35));
    }
    
    .nav img {
        margin-left: 20px;
        margin-top: 10px;
        height: 70%;
        width: 70px;
        border-radius: 100%;
    }
    
    .ele {
        position: absolute;
        top: 25;
        left: 3%;
        cursor: pointer;
        z-index: 10001;
    }
    
    .ele a {
        margin: 20;
        color: white;
    }
    
    .con {
        position: absolute;
        top: 25;
        left: 85%;
        background-color: rgb(154, 66, 255);
        border-radius: 50px;
        width: 10%;
        text-align: center;
        padding: 10px;
        color: white;
        cursor: pointer;
        z-index: 10001;
    }
    
    .logo {
        position: absolute;
        height: auto;
        border-radius: 90%;
        left: 30%;
        top: 15%;
        box-shadow: rgb(4 116 251) 0px 1px 20px 0px;
    }
    
    .logo img {
        border-radius: 50px;
    }
    
    .bjNVbG {
        position: absolute;
        top: 85%;
        left: 43%;
        margin-top: 1.5rem;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        z-index: 10001;
    }
    
    .link {
        position: relative;
        height: 45px;
        width: 45px;
        margin-right: 2rem;
        cursor: pointer;
        --text-opacity: 1;
        color: rgba(203, 213, 224, var(--text-opacity));
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 300ms;
    }
    
    .link:hover {
        fill: aqua;
    }
    
    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
        opacity: 10%;
        z-index: 1000;
    }
    
    .exp {
        position: relative;
        background: white;
        height: auto;
        width: 100%;
    }
    
    .pro {
        position: relative;
        background: white;
        height: auto;
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(2, 20fr); */
        grid-gap: 0px;
        /* justify-items: center; */
        left: 0%;
        /* margin: auto; */
    }
    
    .conta {
        position: relative;
        background: white;
        height: auto;
        float: left;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    .each {
        position: relative;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px;
        /* overflow: hidden; */
        /* display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center; */
    }
    
    .each .vid1 {
        position: relative;
        margin: 5%;
        padding: 7px 9px;
        border-radius: 25px;
        width: 95%;
        height: 90%;
    }
    
    .each .vid2 {
        position: relative;
        margin: 5%;
        padding: 7px 9px;
        border-radius: 25px;
        width: 80%;
        height: 40%;
    }
    
    .each h2 {
        position: relative;
        font-weight: 700;
        top: 5%;
        text-align: center;
        float: left;
        left: 0%;
    }
    
    .options {
        padding: 7px 7px;
        margin: 5px;
        font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
        font-size: 1.2em;
        font-weight: 150;
        color: purple;
        cursor: pointer;
    }
    
    footer {
        margin-top: 0;
        height: auto;
        position: relative;
        background-color: rgb(19, 13, 13);
        bottom: 0%;
    }
    
    .first {
        position: relative;
        margin-left: 8%;
        margin-top: 3%;
        height: 30%;
        width: 35%;
        justify-content: center;
    }
    
    .first img {
        border-radius: 13px;
        height: 100%;
        width: 100%;
    }
    
    .first:hover img {
        opacity: 0.5;
        transform: scale(1.08);
    }
    
    .first h1 {
        position: absolute;
        opacity: 0;
        top: 30%;
        left: 20%;
    }
    
    .first:hover h1 {
        position: absolute;
        opacity: 1;
    }
    
    .first .list {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 100%;
        margin-left: 20%;
    }
    
    .first .list li {
        width: 100%;
        text-align: center;
    }